body {
    background-image: url(img/fon.png);
    font-family: "Times New Roman", Georgia, serif;
    }
    h1 {
        margin-top: 40px;
        }
    .link {
        color: #0055CC;
        border-bottom: 1px #B2CCF0 solid;
        text-decoration: none;
    }
    .link:visited {
        color: purple;
        border-bottom: 1px purple solid;
    }
    .link:hover{
        color: red;
        border-bottom: 1px red solid;
        }
    .contact {
        float: right;
        margin-top: -20px;
        }
        .element-contact {
            margin-left: 20px;
            color: #787878;
            margin-bottom: 4px;
            }
            .element-contact a {
                color: #0055CC;
                border-bottom: 1px #B2CCF0 solid;
                text-decoration: none;
            }
            .element-contact a:hover {
                color: red;
                border-bottom: 1px red solid;
            }
        .content-contact_element {
            text-align: left;
        }
        .title-contact_element {
            font-weight: bold;
            text-align: left;
            margin-right: 6px;
            }
    .resume {
        background-color: white;
        width: 600px;
        margin: auto;
        padding: 60px;
        -moz-box-shadow: 0 0 15px rgba(0,0,0,0.80);
        -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.80);
        box-shadow: 0 0 15px rgba(0,0,0,0.80);
        }
        .data {
            float: left;
            margin-top: -20px;
            }
        .quest-block{
            margin-top: 2px;
            position: relative;
            }
            .question {
                position: relative;
                margin-bottom: 10px;
                font-size: 24px;
                cursor: pointer;
                padding: 5px;
                background-color: #ffd781;
                border-bottom: 1px #d18c39 solid;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                text-indent: 15px;
                }
            .cnt_question {
                margin: 4px 10px 0 10px;
                font-size: 16px;
                float: right;
                color: #754f11;
                }
            .vh_questionl {
                text-decoration: none;
                border-bottom: 1px #754f11 solid;
                }
                .qa-list__layout {
                    list-style: none;
                    margin-right: 20px;
                    margin-top: 0;
                    }
                    .qa-list__layout-unit {
                        padding-bottom: 12px;
                        padding-top: 12px;
                        }
                        .answer__item, .question__item{
                            display: block;
                            }
                        .answer__item {
                            padding: 4px 0 4px 1px;
                            border-bottom: 1px #bcbcbc dotted;

                            }
                        .question__item{
                            padding: 3px 0 3px 1px;

                            }
                            .q-simvol {
                                color: #c6c5c6;
                                margin-left: -20px;
                                }
                            .a-simvol {
                                color: #c6c5c6;
                                margin-left: -20px;
                                font-style: normal;
                                }
            .footer {
                margin-top: 20px;
                }
                .scrollup {
                    margin-left: 40px;
                    text-decoration: none;
                    color: #0055CC;
                    border-bottom: 1px #B2CCF0 solid;
                    }
                .scrollup:hover {
                    color: red;
                    border-bottom: 1px red solid;
                    }