.qa-list__layout {
    list-style: none;
}

.qa-list__layout-unit {
    margin-top: 15px;
}

.question {
    font-size: 24px;
}


.answer__item, .question__item{
    display: block;
}

.resume {
    background-color: white;
    width: 800px;
    margin: auto;
}
body {
}